In [1]:
import numpy as np
import pandas as pd
import openml

In [2]:
d = openml.datasets.list_datasets(output_format='dataframe')
print(d.shape)

# Listing column names or attributes that OpenML offers
for name in d.columns:
    print(name)

(5491, 16)
did
name
version
uploader
status
format
MajorityClassSize
MaxNominalAttDistinctValues
MinorityClassSize
NumberOfClasses
NumberOfFeatures
NumberOfInstances
NumberOfInstancesWithMissingValues
NumberOfMissingValues
NumberOfNumericFeatures
NumberOfSymbolicFeatures

In [3]:
d[d['name'].str.contains('iris')].sort_values(by='version').head()

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
61,61,iris,1,1,active,ARFF,50.0,3.0,50.0,3.0,5.0,150.0,0.0,0.0,4.0,1.0
42261,42261,iris-example,1,348,active,ARFF,50.0,NaN,50.0,3.0,5.0,150.0,0.0,0.0,4.0,1.0
41950,41950,iris_test_upload,1,4030,active,ARFF,50.0,3.0,50.0,3.0,5.0,150.0,0.0,0.0,4.0,1.0
44154,44154,iris_reproduced,1,30495,active,arff,50.0,NaN,50.0,3.0,5.0,150.0,0.0,0.0,4.0,1.0
451,451,irish,1,2,active,ARFF,278.0,10.0,222.0,2.0,6.0,500.0,32.0,32.0,2.0,4.0

In [4]:
iris = openml.datasets.get_dataset(61)
iris

C:\Users\PC\AppData\Local\Temp\ipykernel_2300\2815815650.py:1: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  iris = openml.datasets.get_dataset(61)

OpenML Dataset
==============
Name..........: iris
Version.......: 1
Format........: ARFF
Upload Date...: 2014-04-06 23:23:39
Licence.......: Public
Download URL..: https://api.openml.org/data/v1/download/61/iris.arff
OpenML URL....: https://www.openml.org/d/61
# of features.: 5
# of instances: 150

In [5]:
print(iris.description)

**Author**: R.A. Fisher
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/Iris) - 1936 - Donated by Michael Marshall
**Please cite**:

**Iris Plants Database**
This is perhaps the best known database to be found in the pattern recognition literature.  Fisher's paper is a classic in the field and is referenced frequently to this day.  (See Duda & Hart, for example.)  The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is     linearly separable from the other 2; the latter are NOT linearly separable from each other.

Predicted attribute: class of iris plant.
This is an exceedingly simple domain.

### Attribute Information:
    1. sepal length in cm
    2. sepal width in cm
    3. petal length in cm
    4. petal width in cm
    5. class:
       -- Iris Setosa
       -- Iris Versicolour
       -- Iris Virginica

In [6]:
df = openml.tasks.list_tasks(data_id=61, output_format='dataframe')
df.head()

,tid,ttid,did,name,task_type,status,estimation_procedure,evaluation_measures,source_data,target_feature,...,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures,number_samples,cost_matrix,quality_measure,target_value
59,59,TaskType.SUPERVISED_CLASSIFICATION,61,iris,Supervised Classification,active,10-fold Crossvalidation,predictive_accuracy,61,class,...,5,150,0,0,4,1,NaN,NaN,NaN,NaN
118,118,TaskType.LEARNING_CURVE,61,iris,Learning Curve,active,10 times 10-fold Learning Curve,predictive_accuracy,61,class,...,5,150,0,0,4,1,4,NaN,NaN,NaN
289,289,TaskType.SUPERVISED_CLASSIFICATION,61,iris,Supervised Classification,active,33% Holdout set,predictive_accuracy,61,class,...,5,150,0,0,4,1,NaN,NaN,NaN,NaN
1758,1758,TaskType.LEARNING_CURVE,61,iris,Learning Curve,active,10-fold Learning Curve,predictive_accuracy,61,class,...,5,150,0,0,4,1,4,NaN,NaN,NaN
1823,1823,TaskType.SUPERVISED_CLASSIFICATION,61,iris,Supervised Classification,active,5 times 2-fold Crossvalidation,predictive_accuracy,61,class,...,5,150,0,0,4,1,NaN,NaN,NaN,NaN

In [7]:
df.query("task_type=='Supervised Classification'").head()[:1].T

                                                                    59
tid                                                                 59
ttid                                TaskType.SUPERVISED_CLASSIFICATION
did                                                                 61
name                                                              iris
task_type                                    Supervised Classification
status                                                          active
estimation_procedure                           10-fold Crossvalidation
evaluation_measures                                predictive_accuracy
source_data                                                         61
target_feature                                                   class
MajorityClassSize                                                   50
MaxNominalAttDistinctValues                                          3
MinorityClassSize                                                   50
NumberOfClasses                                                      3
NumberOfFeatures                                                     5
NumberOfInstances                                                  150
NumberOfInstancesWithMissingValues                                   0
NumberOfMissingValues                                                0
NumberOfNumericFeatures                                              4
NumberOfSymbolicFeatures                                             1
number_samples                                                     NaN
cost_matrix                                                        NaN
quality_measure                                                    NaN
target_value                                                       NaN

In [8]:
tasks = df.query("task_type=='Supervised Classification'")['tid'].to_numpy()
print(len(tasks))

20

In [9]:
task_df = openml.evaluations.list_evaluations(function='predictive_accuracy', output_format='dataframe')
task_df.head()

,run_id,task_id,setup_id,flow_id,flow_name,data_id,data_name,function,upload_time,uploader,uploader_name,value,values,array_data
0,62,1,17,76,weka.Bagging_REPTree(1),1,anneal,predictive_accuracy,2014-04-06 23:57:45,1,Jan van Rijn,0.984410,None,None
1,237,1,4,59,weka.JRip(1),1,anneal,predictive_accuracy,2014-04-07 01:34:48,1,Jan van Rijn,0.984410,None,None
2,359,1,12,67,weka.BayesNet_K2(1),1,anneal,predictive_accuracy,2014-04-07 04:08:17,1,Jan van Rijn,0.961024,None,None
3,413,1,10,65,weka.RandomForest(1),1,anneal,predictive_accuracy,2014-04-07 04:35:45,1,Jan van Rijn,0.991091,None,None
4,500,1,15,74,weka.Logistic(1),1,anneal,predictive_accuracy,2014-04-07 06:52:21,1,Jan van Rijn,0.988864,None,None

In [10]:
task_df = task_df[task_df['flow_name'].str.contains("sklearn")]
task_df.head()

,run_id,task_id,setup_id,flow_id,flow_name,data_id,data_name,function,upload_time,uploader,uploader_name,value,values,array_data
800,1860219,1,36487,5804,sklearn.pipeline.Pipeline(pca=sklearn.decompos...,1,anneal,predictive_accuracy,2017-03-27 21:50:14,1022,Randal Olson,0.991091,None,None
801,1860228,1,36487,5804,sklearn.pipeline.Pipeline(pca=sklearn.decompos...,1,anneal,predictive_accuracy,2017-03-27 21:51:28,1022,Randal Olson,0.992205,None,None
802,1860264,1,36487,5804,sklearn.pipeline.Pipeline(pca=sklearn.decompos...,1,anneal,predictive_accuracy,2017-03-27 21:55:09,1022,Randal Olson,0.992205,None,None
803,1860282,1,36487,5804,sklearn.pipeline.Pipeline(pca=sklearn.decompos...,1,anneal,predictive_accuracy,2017-03-27 21:56:13,1022,Randal Olson,0.992205,None,None
804,1860385,1,36487,5804,sklearn.pipeline.Pipeline(pca=sklearn.decompos...,1,anneal,predictive_accuracy,2017-03-27 22:13:29,1022,Randal Olson,0.989978,None,None

In [2]:
t = openml.flows.get_flow(6767)
t

OpenML Flow
===========
Flow ID.........: 6767 (version 9)
Flow URL........: https://www.openml.org/f/6767
Flow Name.......: mlr.classif.xgboost
Flow Description: Learner mlr.classif.xgboost from package(s) xgboost.
Binary URL......: https://api.openml.org/data/download/5801161/classif.xgboost_binary.Rds
Upload Date.....: 2017-06-21 23:58:07
Dependencies....: R_3.3.2, OpenML_1.3, mlr_2.11, xgboost_0.6.4

In [11]:
dir(t)[50:]

['get_structure',
 'get_subflow',
 'id',
 'language',
 'model',
 'name',
 'open_in_browser',
 'openml_url',
 'parameters',
 'parameters_meta_info',
 'publish',
 'push_tag',
 'remove_tag',
 'tags',
 'to_filesystem',
 'upload_date',
 'uploader',
 'url_for_id',
 'version']

In [13]:
t.to_filesystem('teste')

In [23]:
task_df = task_df.query("task_id==15")
task_df

Empty DataFrame
Columns: [run_id, task_id, setup_id, flow_id, flow_name, data_id, data_name, function, upload_time, uploader, uploader_name, value, values, array_data]
Index: []

In [15]:
f = openml.flows.get_flow(2629)
f

OpenML Flow
===========
Flow ID.........: 2629 (version 8)
Flow URL........: https://www.openml.org/f/2629
Flow Name.......: sklearn.ensemble.forest.RandomForestClassifier
Flow Description: Flow generated by openml_run
Upload Date.....: 2016-02-11 21:17:08
Dependencies....: None

In [20]:
f.to_filesystem('teste')

In [14]:
for i in dir(f):
    print(i)

__abstractmethods__
__class__
__delattr__
__dict__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getstate__
__gt__
__hash__
__init__
__init_subclass__
__le__
__lt__
__module__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__setattr__
__sizeof__
__slots__
__str__
__subclasshook__
__weakref__
_abc_impl
_apply_repr_template
_entity_letter
_extension
_from_dict
_get_file_elements
_get_repr_body_fields
_parse_publish_response
_to_dict
_to_xml
binary_format
binary_md5
binary_url
class_name
components
custom_name
dependencies
description
extension
external_version
flow_id
from_filesystem
get_structure
get_subflow
id
language
model
name
open_in_browser
openml_url
parameters
parameters_meta_info
publish
push_tag
remove_tag
tags
to_filesystem
upload_date
uploader
url_for_id
version

In [15]:
f.parameters

OrderedDict([('bootstrap', None),
             ('class_weight', None),
             ('criterion', None),
             ('max_depth', None),
             ('max_features', None),
             ('max_leaf_nodes', None),
             ('min_samples_leaf', None),
             ('min_samples_split', None),
             ('min_weight_fraction_leaf', None),
             ('n_estimators', None),
             ('n_jobs', None),
             ('oob_score', None),
             ('random_state', None),
             ('verbose', None),
             ('warm_start', None)])

In [18]:
print(f.model)

None